<ul class="tablet-hide">
  <li><%= link_to "Layout", base_url + "layouts/" %></li>
  <li><%= link_to "Type",  base_url + "type/" %></li>
  <li><%= link_to "Components",  base_url + "components/" %></li>
  <li><%= link_to "Patterns",  base_url + "patterns/" %></li>
  <li><%= link_to "Sass",  base_url + "sass/" %></li>
  <li><%= link_to "JavaScript",  base_url + "javascript/" %></li>
</ul>